.bch-pflm-home-first-banner
  padding 0
  margin 20px 0 30px
  img
    display block
    margin 0 auto
.bch-pflm-main-cajas
  margin-bottom 30px
  & > .row
    background-color #f7f7f7
    padding 25px 0 25px

.bch-pflm-accordion-cuentas-home .panel,
.bch-pflm-accordion-tarjetas-home .panel
  box-shadow none

.bch-pflm-accordion-cuentas-home .panel-heading,
.bch-pflm-accordion-tarjetas-home .panel-heading
  background-color #fff
  border-color #cad5e1

.bch-pflm-accordion-cuentas-home .panel-heading a,
.bch-pflm-accordion-tarjetas-home .panel-heading a
  cursor pointer

.bch-pflm-accordion-cuentas-home .panel-heading a:hover,
.bch-pflm-accordion-cuentas-home .panel-heading a:focus,
.bch-pflm-accordion-tarjetas-home .panel-heading a:hover,
.bch-pflm-accordion-tarjetas-home .panel-heading a:focus
  text-decoration none

.bch-pflm-accordion-cuentas-home .panel-title,
.bch-pflm-accordion-tarjetas-home .panel-title
  font-size 20px
  color #003772
  font-family 'helveticaneueregular'
  font-weight bold
  letter-spacing 1px

.bch-pflm-accordion-cuentas-home .icon-accordeon-arrow-down,
.bch-pflm-accordion-cuentas-home .icon-accordeon-arrow-up,
.bch-pflm-accordion-tarjetas-home .icon-accordeon-arrow-down,
.bch-pflm-accordion-tarjetas-home .icon-accordeon-arrow-up
  margin-top 5px

.bch-pflm-accordion-cuentas-home .panel-body,
.bch-pflm-accordion-tarjetas-home .panel-body
  padding 0

.bch-pflm-accordion-cuentas-home .icon-accordeon-arrow-up,
.bch-pflm-accordion-tarjetas-home .icon-accordeon-arrow-up,
.bch-pflm-accordion-cuentas-home .icon-accordeon-arrow-down,
.bch-pflm-accordion-tarjetas-home .icon-accordeon-arrow-down
  padding-top 20px

.bch-pflm-accordion-cuentas-home .panel-group,
.bch-pflm-accordion-tarjetas-home .panel-group
  margin-bottom 1px

.bch-pflm-accordion-cuentas-home
  .bch-pflm-listado-cuentas
    padding-left 0
    margin-bottom 0
    .ui-sortable-handle
      border none
      border-bottom solid 1px #CAD5E1
      border-radius inherit
  .bch-pflm-text-link
    margin 5px 0 8px 5%
    display inline-block

.bch-pflm-listado-cuentas
  overflow hidden
  .bch-pflm-contenedor-cuenta
    padding 5% 5% 2%
    .row
      margin-top 15px
      &:first-child
        margin-top 0
    .bch-pflm-titulo-linea-credito
      display block
      margin-top 15px
    .bch-pflm-num-cuenta
      font-size 13px
      color #4B4B4B
      display block
      font-family 'helveticaneueregular'
      font-weight bold
      letter-spacing 1px
    .bch-pflm-saldo-cuenta-corriente
      font-size 21px
      color #66AC00
      font-family 'helveticaneueregular'
      font-weight bold
      letter-spacing 1px
    .bch-pflm-saldo-linea-credito
      font-size 17px
      color #003772
      font-family 'helveticaneueregular'
      font-weight bold
      letter-spacing 1px
    .progress
      background-color #eaeaea
    .bch-pflm-total-linea-credito
      font-size 13px
      color #4B4B4B
      font-family 'helveticaneueregular'
      letter-spacing 1px

.bch-pflm-listado-cuentas-init
  height 293px

.bch-pflm-listado-tarjetas-init
  height 200px

.bch-pflm-ver-todas-cuentas
  height auto

.bch-pflm-listado-cuentas .bch-pflm-contenedor-cuenta .bch-pflm-titulo-cuenta-corriente,
.bch-pflm-listado-cuentas .bch-pflm-contenedor-cuenta .bch-pflm-titulo-linea-credito
  font-size 17px
  color #4B4B4B
  font-family 'helveticaneueregular'
  font-weight bold
  letter-spacing 1px

.bch-pflm-contenedor-cuenta
  .progress
    margin-bottom 0
    height 9px
    -moz-border-radius 0
    -webkit-border-radius 0
    border-radius 0
    -moz-border-radius-topright 4px
    -webkit-border-top-right-radius 4px
    border-top-right-radius 4px
    -moz-border-radius-bottomright 4px
    -webkit-border-bottom-right-radius 4px
    border-bottom-right-radius 4px

.bch-pflm-accordion-tarjetas-home
  .img-responsive
    display block
    margin 15px auto 0

.bch-pflm-saldos-totales
  .bch-pflm-resumen-global
    .col-lg-12
      border-bottom solid 1px #CAD5E1
    h3
      color #003772
      font-size 20px
      font-family 'helveticaneueregular'
      font-weight bold
      letter-spacing 1px
  .bch-pflm-saldos
    margin-bottom 25px
    border-bottom solid 1px #CAD5E1
    .col-lg-4
      margin-top 15px
      border-right solid 1px #CAD5E1
      .row
        &:first-child
          margin-bottom 50px
      .col-lg-6
        vertical-align middle
    .col-lg-8
      margin-top 15px
    h3
      font-size 20px
      color #333333
      margin 8px 0 0
    .bch-pflm-saldo-big
      font-size 24px
      color #66AC00
    .bch-pflm-saldo-small
      font-size 16px
      color #333333
    h6
      font-size 13px
      color #333333
      margin 3px 0 14px

.bch-pflm-saldos-totales .bch-pflm-saldos .col-lg-4,
.bch-pflm-saldos-totales .bch-pflm-saldos .col-lg-8
  margin-bottom 15px

.bch-pflm-saldos-totales .bch-pflm-saldos h3,
.bch-pflm-saldos-totales .bch-pflm-saldos .bch-pflm-saldo-big,
.bch-pflm-saldos-totales .bch-pflm-saldos .bch-pflm-saldo-small,
.bch-pflm-saldos-totales .bch-pflm-saldos h6
  font-family 'helveticaneueregular'
  font-weight bold
  letter-spacing 1px

.bch-pflm-listado-cuentas
  li
    cursor move
    border-bottom solid 1px #CAD5E1
    display inherit

.bch-pflm-listado-tarjeta
  height 200px !important

.bch-pflm-saldos-totales
  .bch-pflm-saldos
    .bch-pflm-text-warning
      margin-top 10px
      p
        margin-bottom 0
    .bch-pflm-ico-warning
      width 20px
      height auto

.bch-pflm-saldos-totales .bch-pflm-saldos .bch-pflm-ico-warning ,
.bch-pflm-saldos-totales .bch-pflm-saldos .bch-pflm-saldo-big
  display inline-block
  vertical-align middle

.bch-pflm-v-centro
  display table
  div[class*='col-']
    display table-cell
    vertical-align middle
    float none

.bch-pflm-main-cajas
  .bch-pflm-caja-dolares-premio
    border solid 1px #CAD5E1
    padding 10px
    background #ffffff
    h4
      color #003772
      margin 0
    hr
      border none
      border-bottom solid 1px #CAD5E1
      margin 9px 0
    .bch-pflm-cantidad-dolares
      p
        color #003772
        padding-top 3px
        margin 0
      h3
        color #003772
        margin 0
    small
      color #003772
      margin 10px 0 0
      display block
      font-size 10px

.bch-pflm-icon-accordeon-arrow-down,
.bch-pflm-icon-accordeon-arrow-up
  width 15px
  height 9px
  display inline-block
  background url('images/bancoChile/accordeon-arrow-down.png')  center no-repeat

.bch-pflm-icon-accordeon-arrow-up
  background url('images/bancoChile/accordeon-arrow-up.png')  center no-repeat

.bch-pflm-icon-accordeon-arrow-down-small,
.bch-pflm-icon-accordeon-arrow-up-small
  width 10px
  height 6px
  display inline-block
  background url('images/bancoChile/btn-arrow-small-down.png')  center no-repeat

.bch-pflm-icon-accordeon-arrow-up-small
  background url('images/bancoChile/btn-arrow-small-up.png')  center no-repeat

.bch-pflm-main-cajas
  .bch-pflm-caja-dolares-premio
    small
      color #003772
      margin 10px 0 0
      display block
      font-size 10px

.bch-pflm-mensaje-warning
  border solid 1px #D9A300
  background-color #FFFFB7
  min-height 30px
  height auto
  padding 5px 3%
  -moz-border-radius 5px
  -webkit-border-radius 5px
  border-radius 5px
  margin 0 10px
  p
    margin-bottom 0
  img
    display block
    margin 0 auto
    margin-top 5px
    
.bch-pflm-mensaje-confirmacion
  border solid 1px #85B200
  background-color #ECFED2
  margin 0 10px
  min-height 30px
  height auto
  padding 5px 3%
  -moz-border-radius 5px
  -webkit-border-radius 5px
  border-radius 5px
  p
    margin-bottom 0
  img
    display block
    margin 0 auto
    margin-top 5px

.bch-pflm-mensaje-error
  border solid 1px #DB3C00
  background-color #FAD3BA
  margin 15px 10px
  min-height 30px
  height auto
  padding 5px 3%
  -moz-border-radius 5px
  -webkit-border-radius 5px
  border-radius 5px
  p
    margin-bottom 0
  img
    display block
    margin 0 auto
    margin-top 5px

