<footer class="bch-pp-footer ng-scope">
   <div class="container">
       <div class="row">
           <div class="col-lg-3 col-md-3 col-xs-12">
               <h3 class="bch-pp-logo-footer">Banco Chile</h3>
           </div>
           <div class="col-lg-9 col-md-9 col-xs-12 tx-bottom bch-pp-separador">
               Casa Matriz: Ahumada 251, Santiago de Chile<br>
               Mesa Central: +56 2 26531111<br>
               <a href="#">Privacidad y Seguridad <img src="assets/images/bancoChile/link-ext.png" width="12" height="10" alt="enlace-externo"></a><br>
               <a href="#">Defensoria Cliente Bancario <img src="assets/images/bancoChile/link-ext.png" width="12" height="10" alt="enlace-externo"></a> <br>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12 col-md-12 col-xs-12">
               <div ng-controller="BancoChileCtrl" class="ng-scope">
                   <button class="bch-pp-h-acordeon" ng-click="isCollapsed =! isCollapsed">Información Relevante <img src="assets/images/bancoChile/arrow-down.png" width="11" height="6" alt="Abrir"> </button>
                   <div collapse="isCollapsed" class="collapse" style="height: 0px;">
                       <div class="well well-lg"><a href="#">Código de Conducta y Buenas Prácticas de Bancos e Instituciones Financieras (PDF 144Kb)</a><br>
                           <a href="#">Manual de Manejo de Información de interés para el mercado (PDF 60Kb)</a><br>
                           <a href="#">Atención Defensoría del Cliente Bancario</a><br>
                           <a href="#">Guía del Cliente Bancario SBIF (PDF 396Kb)</a><br>
                           <a href="#">Extracto de Política de Crédito para Créditos Hipotecarios (PDF 36Kb)</a></div>
                   </div>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12 col-md-12 col-xs-12 bch-pp-tx-bottom bch-pp-mar-top">
               Banco de Chile es el emisor de la tarjeta de crédito Travel Club, Club La Tercera Visa y Entel Visa, siendo el prestador de los servicios bancarios asociados a estas.
               Infórmese sobre la garantía estatal de los depósitos en su banco o en www.sbif.cl
               © 2014 Banco de Chile. Todos los Derechos Reservados.
           </div>

       </div>

   </div>
   <br class="clearfix">
</footer>